/* All colors */
:root {
  --soft-purple: #b9a0c9;
  --solid-purple: #a61ff8;
  --second-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282622;
  --grey: #bababa;
  --off-white: #faf8f7;
  --white: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(179.8deg, #1c1761 9.69%, #a431ef 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 50px;
  align-self: center;
}
.header--tittle-container {
  width: 90%;
  min-width: 285px;
  max-width: 900px;
  height: 218px;
  margin-top: 28px;
  text-align: center;
  align-self: center;
}
.header--tittle-container h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--white);
}
header p {
  margin-top: 21px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #edd1ff;
}
.header--tittle-container .header--button {
  position: absolute;
  left: calc(50% - 116.5px);
  top: 290px;
  display: block;
  margin-top: 20px;
  padding: 15px;
  width: 229px;
  height: 49px;
  background-color: var(--off-white);
  /* sombreado */
  box-shadow: 1px 6px 6px rgb(89 75 29 / 21%);
  border: none;
  border-radius: 9px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 4px;
  background-image: url("/myAssets/icons/mdi_keyboard_arrow_bottom.png");
}
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroundImg {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 32px;
  background-image: url("/myAssets/img/bitcoinpurple.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-exchange-container h2 {
  margin-bottom: 28px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--black);
}
.main-exchange-container p {
  margin-bottom: 28px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #757575;
}
.container-table--title .title-table {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--solid-purple);
  min-width: 60px;
  max-width: 180px;
  margin: 64px auto 21px;
  padding: 0 auto;
  justify-content: left;
  align-items: left;
}
.main-table-container {
  list-style: none;
  min-width: 140px;
  max-width: 350px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.main-table-container li {
  list-style: none;
  text-decoration: none;
  padding: 30px;
  border: 1px solid rgba(149, 145, 145, 0.191);
  background-color: var(--white);
}
.main-table-container a {
  text-decoration: none;
  line-height: 1.9rem;
  font-size: 2rem;
  font-family: "inter", sans-serif;
  color: var(--grey);
}
.main-table-container .table-right a {
  font-weight: normal;
  color: #757575;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.main-table-container .table-right li {
  padding: 0;
  height: 81px;
  width: 150px;
  min-width: 140px;
  text-align: center;
  align-items: center;
}
.main-table-container .table-right {
  min-width: 140px;
}
.main-table-container .top-left {
  border-top-left-radius: 25px;
}
.main-table-container .bot-left {
  border-bottom-left-radius: 25px;
}
.main-table-container .top-right {
  border-top-right-radius: 25px;
}
.main-table-container .bot-right {
  border-bottom-right-radius: 25px;
}

.main-table-container .arrow-but {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 12px;
  background-image: url("/myAssets/icons/perdidas-icon.png");
}
.main-table-container .arrow-up {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 12px;
  background-image: url("/myAssets/icons/ganancias-icon.png");
}
.currency-tabe--date {
  width: 260px;
  border-radius: 60px;
  margin: 0 auto;
  background-color: var(--soft-purple);
}
.currency-tabe--date p {
  margin: 0 auto;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--warm-black);
}
.main-product-detail {
  position: relative;
  width: 100;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail--capy-logo {
  position: absolute;
  width: 36px;
  height: 35px;
  background-image: url("/myAssets/icons/capybara-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: -15px;
  left: calc(50% - 20px);
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--off-white);
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 420px;
  height: 160px;
  margin: 14px auto;
  padding: 14px;
  background-color: var(--black);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
}
.product-detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-bottom: 9px;
  background-image: url("/myAssets/icons/clock-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product--card-title {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--off-white);
}
.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-detail--card .eye {
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-bottom: 9px;
  background-image: url("/myAssets/icons/eye-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .dollar {
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-bottom: 9px;
  background-image: url("/myAssets/icons/dollar-sign-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .check {
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-bottom: 9px;
  background-image: url("/myAssets/icons/check-circle-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bitcoin-img-publi {
  width: 100%;
  min-width: 320px;
  max-width: 680px;
  height: 60vh;
  background-image: url("/myAssets/img/Conocelo-hoy-img.jpg");
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-publi h2 {
  padding-top: 270px;
  font-size: 2.9rem;
  font-weight: bold;
  line-height: 2.7rem;
  color: #370538;
  text-align: center;
}
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 80px;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
/* cartas de precios + scroll*/
.plans-container--slider {
  display: flex;
  gap: 36px;
  height: 315px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 180px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0px;
  padding: 0 15px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.18);
}
.recommended {
  position: absolute;
  width: 120px;
  height: 32px;
  top: -15px;
  left: calc(50% - 59px);
  font-size: 1.2rem;
  padding: 7px;
  background-color: var(--solid-purple);
  border-radius: 9px;
  color: var(--white);
}
.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--price {
  padding: 5px 0px;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 300;
}
.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
}
.plan-card--ca {
  padding: 15px 30px;
  width: 150px;
  height: 48px;
  margin-top: 20px;
  border: 2px solid var(--solid-purple);
  border-radius: 5px;
  background-color: #faf8f7;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  position: relative;
  top: 36px;
}
.plan-card--ca span {
  display: inline-block;
  width: 21px;
  height: 21px;
  padding-top: 5px;
  position: absolute;
  top: 13px;
  background-image: url("/myAssets/icons/mdi_keyboard_arrow-right.png");
}
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--solid-purple);
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500px;
  line-height: 1.8rem;
  list-style: none;
}
footer .left li {
  margin: 12px 0;
}
.left a {
  text-decoration: none;
  color: var(--white);
}
.logo--footer {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 42px;
  background-image: url("/myAssets/icons/capybara-icon.png");
}
